@import 'tailwindcss';
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
  background-color: #fef7e5;
  height: 100%;
  color: black;
}
/* Kill DaisyUI / browser active flash */
.menu li > *:focus,
.menu li > *:active {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Kill Chrome autofill ugly bg */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* replace #fefefe with ur bg color */
  -webkit-text-fill-color: #2a4125 !important; /* your text color */
  transition: background-color 5000s ease-in-out 0s;
}
